{% extends 'template.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block pageContent %}
    <section>
        <div class="section-header flex-column mx-auto">
            <h2 class="dce-text-dark dce-bg-light text-center underlined">{{ event.title }}</h2>
            <div class="section-description d-flex">
                <div class="section-socials">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </div>
                <div class="section-metas d-none d-md-block">
                    <p class="article-date">Date: {{ event.added|localizeddate('medium', 'none') }}</p>
                    <p class="article-date">Lieu: {{ event.place }}</p>
                </div>
            </div>
        </div>
        <div class="single-article dce-bg-dark dce-text-light offset-md-1 col-md-10 col-12">
            <article class="px-0 p-md-3">
                <div class="article-image">
                    {% if event.image is not null %}
                        <img src="{{ event.image.url }}" alt="{{ event.image.alt }}"
                             class="img-responsive col-12 col-md-6 offset-md-3"/>
                    {% endif %}
                </div>
                <div class="article-content col-12 px-0">
                    <p class="article-text">
                        {{ event.content|striptags|striptags|slice(0, 200) ~ '...' }}
                    </p>
                    <div class="map">
                        <iframe
                                style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC4_uOwGVtnGwYu8Z52PeQQ8HsP4RKtNsw&q={{ event.place|url_encode }}">
                        </iframe>

                        {{ form_start(form, {'attr': {'id' : 'booking-form', 'class': 'dce-form col-12 col-lg-6 col-md-10'}}) }}
                        <h3 class="dce-text-dark text-center">Formulaire de réservation</h3>
                        <div id="contact">
                            {{ form_row(form.name) }}
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.birthday) }}
                            {{ form_row(form.address) }}
                            {{ form_row(form.zipcode) }}
                            {{ form_row(form.city) }}
                            {{ form_row(form.country) }}
                            {{ form_row(form.phone) }}
                            {{ form_row(form.formula) }}
                            {{ form_row(form.email) }}
                            <div class="form-group align-self-start">
                                {{ form_label(form.agreeTerms) }}
                                {{ form_widget(form.agreeTerms) }}
                                {{ form_errors(form.agreeTerms) }}
                            </div>
                            {{ form_row(form.agreeDatas) }}
                            {{ form_row(form.save) }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="articles-navigation offset-md-2 offset-1">
            <a href="{{ path('front_events') }}" class="dce-btn dce-btn-red"><i class="fas fa-chevron-left"></i>Retour à
                la liste</a>
        </div>
    </section>
{% endblock %}
{% block scripts %}
{% endblock %}