{% extends 'template.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block pageContent %}
    <div class="carousel">
        {# <iframe
                 src="https://www.youtube.com/embed/26-1t15R_MU?rel=0&controls=0&showinfo=0&mute=1&autoplay=1"
                 allow="autoplay; encrypted-media" allowfullscreen>


         </iframe>
         #}
    </div>

    <section class="dce-bg-dark">
        <div class="section-header">
            <h2 class="dce-text-light dce-bg-dark underlined underlined-light text-center">
                {% if event is not null %}
                    <a href="{{ path('front_event', {'slug': event.slug}) }}">Prochain Workshop</a>
                {% else %}
                    Présentation
                {% endif %}
            </h2>
        </div>
        <div class="row">
            <div class="section-content col-12 featured-event">
                <div class="section-img col-12 col-md-6 offset-md-3" data-bg="{{ event.image.url }}">
                    <img src="{{ event.image.url }}" alt="{{ event.image.alt }}">
                </div>
            </div>
        </div>
    </section>
    <section class="dce-bg-light">
        <div class="grid grid-fluid d-flex">
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
            <figure class="col-12 col-md-2"><img src="#" alt=""></figure>
        </div>
    </section>
    <section class="dce-bg-dark">
        <div class="section-header">
            <h2 class="dce-text-light dce-bg-dark underlined underlined-light">Prestations</h2>
        </div>
        <div class="row">
            <div class="section-content col-md-12 col-lg-10">
                {% if services is not null %}
                    {% for service in services %}
                        <div class="prestation dce-text-light col-12 col-md" data-bg="{{ service.image.url }}">
                            <div class="prestation-text text-center">
                                <div class="background-image"></div>
                                <a href="{{ path('front_service', {'slug': service.slug}) }}">
                                    <span class="dce-text-light">{{ service.title }}</span>
                                </a>
                                <p>
                                    {#{{ service.content| raw }}#}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="prestation dce-text-light col-12 col-md-4" id="service-workshops">
                        <div class="prestation-text text-center">
                            <a href="#">
                                <span class="dce-text-light">Workshops</span>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris urna odio, convallis sit
                                amet
                                ullamcorper placerat, bibendum congue mauris. Nunc sed libero purus. Vestibulum ante
                                ipsum
                                primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; Morbi purus tortor, fringilla
                                nec
                                ipsum
                                vel,
                                aliquet ornare orci. Proin dapibus ultricies dictum. Praesent vitae laoreet velit. In eu
                                risus
                                augue.
                            </p>
                        </div>
                    </div>
                    <div class="prestation dce-text-light col-12 col-md-3" id="service-shows">
                        <div class="prestation-text text-center">
                            <a href="#">
                                <span class="dce-text-light">Shows</span>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris urna odio, convallis sit
                                amet
                                ullamcorper placerat, bibendum congue mauris. Nunc sed libero purus. Vestibulum ante
                                ipsum
                                primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; Morbi purus tortor, fringilla
                                nec
                                ipsum
                                vel,
                                aliquet ornare orci. Proin dapibus ultricies dictum. Praesent vitae laoreet velit. In eu
                                risus
                                augue.
                            </p>
                        </div>
                    </div>
                    <div class="prestation dce-text-light col-12 col-md-3" id="service-cours">
                        <div class="prestation-text text-center">
                            <a href="#">
                                <span class="dce-text-light">Cours particuliers</span>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris urna odio, convallis sit
                                amet
                                ullamcorper placerat, bibendum congue mauris. Nunc sed libero purus. Vestibulum ante
                                ipsum
                                primis in
                                faucibus orci luctus et ultrices posuere cubilia Curae; Morbi purus tortor, fringilla
                                nec
                                ipsum
                                vel,
                                aliquet ornare orci. Proin dapibus ultricies dictum. Praesent vitae laoreet velit. In eu
                                risus
                                augue.
                            </p>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
    <section class="dce-bg-light dce-text-dark">
        <div class="section-header">
            <h2 class="dce-bg-light underlined">
                <a class="dce-text-dark" href="{{ path('front_post', {'slug': post.slug}) }}">{{ post.title }}</a>
            </h2>
        </div>
        <div class="row">
            <div class="section-content featured-post">
                <div class="section-img col-12 col-md-6 d-none d-md-block" data-bg="{{ post.image.url }}">
                    <img src="{{ post.image.url }}" alt="{{ post.image.alt }}">
                </div>
                <div class="section-text col-12 col-md-5 dce-text-dark">
                    <p class="">
                        {{ post.content|raw }}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}