{% extends "template.html.twig" %}

{% block pageTitle %}Administration{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('build/css/app_front.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/app_back.css') }}">
{% endblock %}

{% block mainMenu %}
    <li><a href="/">Retourner à l'accueil</a></li>
    <li class="dropdown show d-md-none">
        <a href="#" class="text-white dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true" aria-expanded="false" id="adminMenu">Administration
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="adminMenu">
            <li class="dropdown-item"><a href="" class="text-dark">Accueil</a></li>
            <li class="dropdown-item"><a href="" class="text-dark">News</a></li>
            <li class="dropdown-item"><a href="" class="text-dark">Team</a></li>
            <li class="dropdown-item"><a href="" class="text-dark">Club</a></li>
            <li class="dropdown-item"><a href="" class="text-dark">Workshops</a></li>
            <li class="dropdown-item"><a href="" class="text-dark">Galeries</a></li>
            <li class="dropdown-item"><a href="" class="text-dark">Prestations</a></li>
        </ul>
    </li>
{% endblock %}
{% block pageContent %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <h5 class="sidebar-heading d-flex align-items-center mt-4 mb-1 text-muted">
                        <a href="{{ path('back_home') }}" class="nav-link d-flex"><i class="fas fa-tachometer-alt"></i>Tableau
                            de bord</a>
                    </h5>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-newspaper"></i>
                        News
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_posts') }}">
                                Toutes les news
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_post', {'id': 'new'}) }}">
                                Créer une new
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fa fa-calendar-alt"></i>Workshops
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_events') }}">
                                Tous les workshops
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_event', {'id': 'new'}) }}">
                                Créer un workshop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_bookings', {'id': 'all'}) }}">
                                Réservations
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-camera-retro"></i>Galeries
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_galleries') }}">
                                Toutes les galeries
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_gallery', {'id': 'new'}) }}">
                                Créer une galerie
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-info-circle"></i>
                        Prestations
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_services') }}">
                                Toutes les prestations
                            </a>
                        </li>
                    </ul>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_team') }}">
                                Team DCE
                            </a>
                        </li>
                    </ul>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_club') }}">
                                Club
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex align-items-center px-3 mt-4 mb-1 text-muted">
                        <i class="fas fa-envelope"></i>Contact
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_contacts') }}">
                                Consulter les messages
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto offset-lg-1 col-lg-10 pt-3 px-4">
                {% block adminContent %}{% endblock %}
            </main>
        </div>
    </div>



{% endblock %}
    {% block scripts %}
        <script>
            // $ = jQuery regardless of what it means
            // outside this DOM ready function

        </script>
    {% endblock %}
