<nav>
    <ul class="d-md-flex d-none" id="main-menu">
        <li class="d-flex flex-column logo-container">
            <a href="{{ path('front_home') }}">
                <img src="{{ absolute_url(asset('build/images/dce.png')) }}" alt="logo dce" class="logo">
            </a>
        </li>
        <li class="d-flex flex-column">
            <a href="{{ path('front_posts') }}">News</a>
            <div class="menu-underline"></div>
        </li>
        <li class="d-flex flex-column">
            <a href="{{ path('front_team') }}">La team</a>
            <div class="menu-underline"></div>
        </li>
        <li class="d-flex flex-column">
            <a href="{{ path('front_club') }}">Le club</a>
            <div class="menu-underline"></div>
        </li>
        <li class="dropdown show d-flex flex-column">
            <a href="{{ path('front_events') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true"
               aria-expanded="false" id="workMenu">
                Workshops
            </a>
            <div class="menu-underline"></div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="workMenu">
                {{ render(controller('App\\Controller\\FrontController::nextWorkshopsAction', {'limit' : 3})) }}
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><a href="{{ path('front_events') }}">Tous voir</a></li>

            </ul>
        </li>
        <li class="dropdown show d-flex flex-column">
            <a href="{{ path("front_galleries") }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true"
               aria-expanded="false" id="galerieMenu">
                Galeries
            </a>
            <div class="menu-underline"></div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="galerieMenu">
                {{ render(controller('App\\Controller\\FrontController::lastGalleriesAction', {'limit' : 3})) }}
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><a href="{{ path('front_galleries') }}">Tous voir</a></li>
            </ul>
        </li>
        <li class="dropdown show d-flex flex-column">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true"
               aria-expanded="false" id="prestationsMenu">
                Prestations
            </a>
            <div class="menu-underline"></div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="prestationskMenu">
                {{ render(controller('App\\Controller\\FrontController::servicesAction')) }}
            </ul>
        </li>
        <li class="d-flex flex-column">
            <a href="{{ path('front_contact') }}">Contact</a>
            <div class="menu-underline"></div>
        </li>
    </ul>
</nav>
