<nav class="navbar navbar-light light-blue lighten-4 d-md-none d-block">
    <ul class="d-flex justify-content-around">
        <li class="dropdown show logo-container">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false" id="hamburger-menu">
                <img src="{{ absolute_url(asset('build/images/dce.9342630e.png')) }}" alt="logo dce" class="logo">
            </a>
            <ul class="dropdown-menu " role="menu" aria-labelledby="hamburger-menu" id="menu-mobile">
                <li class="dropdown-item"><a href="{{ path('front_home') }}">Accueil</a></li>
                <li class="dropdown-item"><a href="{{ path('front_posts') }}">News</a></li>
                <li class="dropdown-item"><a href="{{ path('front_team') }}">Team</a></li>
                <li class="dropdown-item"><a href="{{ path('front_club') }}">Le club</a></li>
                <li class="dropdown-item"><a href="{{ path('front_events') }}">Prochains workshops</a></li>
                <li class="dropdown-item"><a href="{{ path('front_galleries') }}">Galeries</a></li>
                {{ render(controller('App\\Controller\\FrontController::servicesAction')) }}
                <li class="dropdown-item"><a href="{{ path('front_contact') }}">Contact</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-header"><h6>Administration <i class="fas fa-cog"></i></h6></li>
                    <li class="dropdown-item"><a href="{{ path('back_home') }}">Accueil</a></li>
                    <li class="dropdown-item"><a href="{{ path('back_posts') }}">News</a></li>
                    <li class="dropdown-item"><a href="{{ path('back_team') }}">Team</a></li>
                    <li class="dropdown-item"><a href="{{ path('back_club') }}">Club</a></li>
                    <li class="dropdown-item"><a href="{{ path('back_events') }}">Workshops</a></li>
                    <li class="dropdown-item"><a href="{{ path('back_galleries') }}">Galeries</a></li>
                    <li class="dropdown-item"><a href="{{ path('back_contacts') }}">Contact</a></li>
                {% endif %}
            </ul>
        </li>

    </ul>
</nav>
