<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('build/css/app_front.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    {% block head %} {% endblock %}
    <title>{% block title %}{% endblock %} - Dance Concept event</title>
</head>
<body>
<div id="page-content" class="container-fluid p-0">
    <header id="header" class="dce-bg-dark">
        {% include 'menu-desktop.html.twig' %}
        {% include 'menu-mobile.html.twig' %}
    </header>
    {% block flash %}
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="container alert alert-info" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('warning') %}
            <div class="container alert alert-warning" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('danger') %}
            <div class="container alert alert-danger" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block pageContent %} {% endblock %}
    <footer class="dce-bg-dark">
        {% include 'footer.html.twig' %}
    </footer>
</div>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>