{% extends "back_template.html.twig" %}

{% block title %}Édition d'un workshop{% endblock %}
{% block adminContent %}
    <h2 class="dce-text-dark dce-bg-light text-center underlined">Édition d'un workshop</h2>
    {{ form_start(form, {'attr': {'class': 'offset-md-2 col-md-8 admin-form'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.image) }}
    {{ form_row(form.added) }}
    {{ form_row(form.place) }}
    <div class="form-group">
        {{ form_label(form.formulas) }}
    </div>
    {% for formula in form.formulas %}
        <div class="event-formula form-group">
            {{ form_row(formula.name) }}
            {{ form_row(formula.price) }}
        </div>
    {% endfor %}
    <fieldset class="form-group">
        <div id="event_formulas" data-prototype="{{ form_widget(form.formulas.vars.prototype)|e('html_attr') }}"></div>
    </fieldset>
    {{ form_row(form.published) }}
    {{ form_row(form.content) }}
    {{ form_row(form.save, {'attr': {'class': 'col-6 mx-auto dce-btn dce-btn-red' }}) }}
    {{ form_end(form) }}
{% endblock %}
