{% extends "back_template.html.twig" %}

{% block title %}Team DCE{% endblock %}
{% block adminContent %}
    <h2 class="dce-text-dark dce-bg-light text-center underlined">Modification de la team</h2>
    {{ form_start(form, {'attr': {'id' : 'admin-gallery-form', 'class': 'offset-md-2 col-md-8'}}) }}
    {% for teammate in form.teammates %}
        {{ form_row(teammate.name) }}
        {{ form_row(teammate.description) }}
        {{ form_row(teammate.image) }}
    {% endfor %}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
